@font-face {
    font-family: 'Salma Alfasans';
    src: url('SalmaAlfasans-Regular.woff2') format('woff2'),
        url('SalmaAlfasans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salma Alfasans';
    src: url('SalmaAlfasans-Medium.woff2') format('woff2'),
        url('SalmaAlfasans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salma Alfasans';
    src: url('SalmaAlfasans-Bold.woff2') format('woff2'),
        url('SalmaAlfasans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Salma Alfasans';
    src: url('SalmaAlfasans-SemiBold.woff2') format('woff2'),
        url('SalmaAlfasans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

